body {
  background-color: #053d79;
  margin: 0 auto;
  color: white;
}
main {
  position: relative;
  width: 500px;
  height: 300px;
  float: left;
  padding: 1%;
}
.section {
  position: absolute;
  visibility: hidden;
  overflow: hidden;
}
.active {
  visibility: visible;
}
.navbar {
  float: left;
  border-right: 4px solid silver;
  width: 200px;
  text-align: center;
  height: auto;
}
.alert-disabled {
  z-index: -1;
  position: relative;
  visibility: hidden;
}
.nav-link {
  font-size: 30px;
  padding: 3%;
}
.nav-header {
  width: 100%;
}
.btn-link {
  color: red;
}
h3 {
  color: lightgrey;
  text-transform: uppercase;
  font-weight: bolder;
}
.section-header {
  outline: 1px solid black;
  width: 500px;
  height: 500px;
  padding: 2%;
  margin-bottom: 100px;
  overflow: scroll;
}
input[type="text"],
input[type="password"],
input[type="number"] {
  width: 50%;
}
.btn {
  text-transform: uppercase;
  font-weight: bolder;
}

.hidden {
  visibility: hidden;
}
#soundtable {
  font-size: 12px;
}
